# Dependencies
node_modules/
.DS_Store

# Environment
.env
.env.local

# Databases
*.sqlite
*.sqlite-journal

# Backend specific
backend/scripts/seed_db.js

# Frontend specific
frontend/dist/
frontend/build/

# Vercel
.vercel/
